Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Adding dissipation ratio methodology for modifying internal tide dissipation within coupled OGCM system
  src/internaltide.F
  src/nodalattr.F
Owners: @wpringle

Adding untide to nodalattr.F
  src/nodalattr.F
Owners: none

Add modules for calculating the position of the Moon and Sun
  src/astromod.F
Owners: none

Progress in adding timers recording wall clock time spents in met forcing, gwce, 2D memomentum, ADCIRC_Init, ADCIRC_Run in padcirc.
  src/adcirc.F
  src/messenger.F
  src/timestep.F
  src/wind.F
Owners: none

Consolidate the timing results from 3 files to one file named 'wall_clock_report.out' and fix a bug in adcprep not writing the namelist WindGrib2NetCdf to local fort.15 files.
  prep/prep.F
  src/adcirc.F
  src/global.F
  src/timestep.F
  src/wind.F
Owners: none

Minor reformat of the timing outout file.
  src/timestep.F
  src/wind.F
Owners: none

Clean up rebased content
  cmake/adcirc.cmake
  cmake/padcirc.cmake
  prep/prep.F
  src/timestep.F
Owners: none

Developing the full formuation of the tidal potential functions
  src/read_input.F
Owners: none

Minor edit
  src/read_input.F
Owners: none

Add progress in tidal potential
  cmake/adcirc.cmake
  src/tidalpotential.F
Owners: none

Updating internal tide dissipation modification for use within ADCIRC2D+ to use scalar dissipation ratio
  src/internaltide.F
  src/nodalattr.F
Owners: @wpringle

Add progress on imp,enmet the full lunar-solar potential function
  src/astromod.F
  src/constants.F
  src/tidalpotential.F
Owners: none

Minor edit
  src/tidalpotential.F
Owners: none

Progress in the full luni-solar tidal potential function
  src/tidalpotential.F
Owners: none

adding addition to NWS8 namelist for switching to 10-min sustained windspeeds in the fort.22
  prep/prep.F
  prep/presizes.F
  src/read_input.F
  src/wind.F
Owners: none

Progress in the full luna-solar tidal potential function. Almost done.
  cmake/padcirc.cmake
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/read_input.F
  src/tidalpotential.F
  src/timestep.F
Owners: none

Add AC's ephmerides interpolation of the RA, DEC, and distance of the Moon and Sun
  cmake/adcirc.cmake
  cmake/padcirc.cmake
  prep/prep.F
  src/astromod.F
  src/tidalpotential.F
Owners: none

Add ephemeride loop up table
  src/ephemri_module.F90
Owners: none

Add screen messages and error messsage to the full tidal potential files
  src/ephemri_module.F90
  src/tidalpotential.F
Owners: none

Correct the SAL implemetnation when using the full tidal potential.
  src/timestep.F
Owners: none

Adding `-Wno-incompatible-pointer-types` for metis for newer versions of gcc
  cmake/metis.cmake
Owners: none

Initializing subgrid filename to null to avoid initialized value
  prep/pre_global.F
  src/subgridLookup.F
Owners: @jlwoodr

Adding `-Wno-incompatible-pointer-types` for metis for newer versions of gcc
  cmake/metis.cmake
Owners: none

Initializing subgrid filename to null to avoid initialized value
  prep/pre_global.F
  src/subgridLookup.F
Owners: @jlwoodr

Tayor's data assimilation, adopted from Brian's renci.v56_dev_da branch
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/nodalattr.F
  src/timestep.F
Owners: none

Fix namelist for the full tidal potential
  prep/prep.F
  src/read_input.F
  src/tidalpotential.F
Owners: none

Keep ephmeri data in the memmory if use external data of the Moon/Sun positions
  src/ephemri_module.F90
Owners: none

Add changes to ephermri_module.F90
  src/ephemri_module.F90
Owners: none

(1) Add binary search in ephemeris interpoation (2) Locate using ceiling if the ephemeris data have a uniform interval in time (3) Rearrage functions in tidalpotential.F
  prep/pre_global.F
  prep/prep.F
  src/ephemri_module.F90
  src/read_input.F
  src/tidalpotential.F
Owners: none

Add COMP_FULL_TIP_DRV1, a subroutine computing the full tidal potential. It uses SFEA and SLAM from mesh module and precompute cos(SFEA) and sin(SFEA).
  src/tidalpotential.F
  src/timestep.F
Owners: none

Updating internal tide dissipation modification for use within ADCIRC2D+ to use scalar dissipation ratio
  src/internaltide.F
  src/nodalattr.F
Owners: @wpringle

Adding internal tide to test list
  .circleci/config.yml
Owners: none

Updating internal tide dissipation modification for use within ADCIRC2D+ to use scalar dissipation ratio
  src/internaltide.F
  src/nodalattr.F
Owners: @wpringle

Adding internal tide to test list
  .circleci/config.yml
Owners: none

Adding namelist variable dynamicWaterLevelCorrectionMethod for specifying a method to be used in water level correction
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/adcirc.F
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/wind.F
Owners: none

Adding mass in GWCE for dynamic water level correction (data assimilation)
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/nodalattr.F
  src/timestep.F
Owners: none

Changing variable name deltaOffset to dynamicWaterLevelCorrectionDelta for consistency
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/timestep.F
Owners: none

Changing variable name deltaOffset to dynamicWaterLevelCorrectionDelta for consistency
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/timestep.F
Owners: none

Adding mass in GWCE for dynamic water level correction (data assimilation)
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/nodalattr.F
  src/timestep.F
Owners: none

Adding namelist variable dynamicWaterLevelCorrectionMethod for specifying a method to be used in water level correction
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/adcirc.F
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/wind.F
Owners: none
