Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Refactoring nws08 into its own module
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/nws08.F90
  src/read_input.F
  src/wind.F
  work/makefile
Owners: none

Updating to run CI for new tests
  .circleci/config.yml
Owners: none

Updating version of CI container
  .circleci/config.yml
Owners: none

Updating nws08 module to compile with strict compiler checks
  src/nws08.F90
Owners: none

Updating NWS8 and adding upgrades from Wang et. al. (2022)
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/read_input.F
  src/wind.F
Owners: none

Adding doxygen documentation to nws08 module
  src/nws08.F90
Owners: none

Removing behavior where stormnumber controlled the wind multiplier
  prep/prep.F
  prep/presizes.F
  src/nws08.F90
  src/read_input.F
Owners: none

Applying 3D code fixes from Casey
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/boundaries.F
  src/cstart.F
  src/global_3dvs.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/wetdry.F
  src/write_output.F
  work/makefile
Owners: none

Using integer comparison for various 3d options
  src/global_3dvs.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
Owners: none

Removing commented out code with updated implementation from Casey
  src/transport.F
  src/vsmy.F
Owners: none

Updating commit message for docs builds
  .github/workflows/docs.yml
Owners: none

Updating commit message for docs builds
  .github/workflows/docs.yml
Owners: none

Update wetdry.F
  src/wetdry.F
Owners: none

Update wetdry.F
  src/wetdry.F
Owners: none

Fixing internal version checks
  .gitignore
  cmake/punswan.cmake
  cmake/version.cmake
  prep/adcprep.F
  prep/pre_global.F
  prep/prep.F
  scripts/adcirc_version.py
  src/adcirc.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/messenger.F
  src/netcdfio.F
  src/read_input.F
  src/write_output.F
  src/writer.F
  work/makefile
Owners: none

Using standardized datetime module and datetime-aware logging in the code
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/couple2baroclinic3D.F
  src/date_util.F90
  src/global.F
  src/globalio.F
  src/logging.F90
  src/messenger.F
  src/mpitypes.F90
  src/owiwind.F
  src/read_input.F
  src/sizes.F
  src/status.F90
  src/terminate.F90
  src/timestep.F
  src/wind.F
  work/makefile
Owners: @cblakely97, @wpringle

Generalizing the terminate routine
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/adcirc.F
  src/couple2baroclinic3D.F
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/hstart.F
  src/internaltide.F
  src/mesh.F
  src/nodalattr.F
  src/owi_ice.F
  src/owiwind.F
  src/read_input.F
  src/rs2.F
  src/sponge_layer.F
  src/subdomain.F
  src/subgridLookup.F
  src/terminate.F90
  src/timestep.F
  src/weir_boundary.F
  src/wind.F
  src/write_output.F
  src/xdmfio.F
  work/makefile
Owners: @cblakely97, @wpringle, @caseydietrich, @dwirasae, @jlwoodr

Using generic datetime parser for netcdf date and tide date
  cmake/options_flags.cmake
  cmake/options_select.cmake
  prep/prep.F
  prep/presizes.F
  src/astronomic.F90
  src/date_util.F90
  src/messenger.F
  src/read_input.F
  src/status.F90
  src/tidalpotential.F90
  src/timestep.F
  work/makefile
Owners: none

Adding pre-commit checks
  .github/workflows/precommit.yaml
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/adcswan.cmake
  cmake/macros.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/utilities.cmake
  fortitude.toml
  scripts/adcirc_version.py
  src/astronomic.F90
  src/ephemerides.F90
  src/logging.F90
  src/moon.F90
  src/mpitypes.F90
  src/netcdf_error.F90
  src/nws08.F90
  src/sun.F90
  src/sun_moon_system.F90
  src/terminate.F90
  src/tidalpotential.F90
  util/adcircResultsComparison.F90
Owners: none

Adding developer mode which builds code with additional flags
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/developer.cmake
  cmake/libadcirc.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  src/ephemerides.F90
  src/nodalattr.F
  src/tidalpotential.F90
  src/xdmfio.F
  util/adcircResultsComparison.F90
Owners: none

Using standardized termination procedure instead of call exit(1)
  src/boundaries.F
  src/control.F
  src/ephemerides.F90
  src/global_3dvs.F
  src/globalio.F
  src/hstart.F
  src/mesh.F
  src/messenger.F
  src/netcdf_error.F90
  src/netcdfio.F
  src/rs2.F
  src/sponge_layer.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/wind.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
Owners: @dwirasae

Cleaning up nws=14 warnings
  src/mesh.F
  src/wind.F
Owners: none

Using generic terminate routine in nws08
  src/nws08.F90
Owners: none

Removing `-impi` flag from macros.inc files in legacy build
  thirdparty/swan/macros.inc
  thirdparty/swan/macros.inc.circleci
  thirdparty/swan/macros.inc.frontera
  thirdparty/swan/macros.inc.garnet
  thirdparty/swan/macros.inc.hatteras
  thirdparty/swan/macros.inc.hatteras.debug
  thirdparty/swan/macros.inc.hatteras.debug2
  thirdparty/swan/macros.inc.kraken
  thirdparty/swan/macros.inc.lonestar
  thirdparty/swan/macros.inc.queenbee
  thirdparty/swan/macros.inc.stampede
  thirdparty/swan/macros.inc.stampede2
  thirdparty/swan/macros.inc.supermic
Owners: @caseydietrich

Updating container version used to build ADCIRC docker container
  containers/Dockerfile
Owners: none

Using a more efficient model status check unless printing to screen
  src/date_util.F90
  src/messenger.F
  src/status.F90
  src/timestep.F
Owners: none

Initial work on cmake toolchain files
  CMakeLists.txt
  cmake/options_select.cmake
  cmake/toolchains/tc-linux-bridges2-intel20.4.cmake
  cmake/toolchains/tc-linux-gnu-generic.cmake
Owners: none

Updating README.md to inform users of the new ADCIRC documentation
  README.md
Owners: none

Updating README.md to inform users of the new ADCIRC documentation
  README.md
Owners: none

Update wetdry.F
  src/wetdry.F
Owners: none

Update wetdry.F
  src/wetdry.F
Owners: none

Updating compiler warning flags for thirdparty libs in updated wgrib2
  thirdparty/wgrib2/CMakeLists.txt
Owners: none

Updating cmake minimum version
  CMakeLists.txt
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/CMakeLists.txt
Owners: none

Adding flags for nvidia compilers
  src/moon.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Adding support for LLVM Flang compiler
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/macros.cmake
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
  thirdparty/wgrib2/wgrib2/gctpc/source/br_gctp.c
Owners: none

Adding support for LLVM Flang compiler
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/macros.cmake
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
  thirdparty/wgrib2/wgrib2/gctpc/source/br_gctp.c
Owners: none

Updating cmake minimum version
  CMakeLists.txt
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/CMakeLists.txt
Owners: none

Adding flags for nvidia compilers
  src/moon.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Updating compiler warning flags for thirdparty libs in updated wgrib2
  thirdparty/wgrib2/CMakeLists.txt
Owners: none

Autotools initial implementation
  AUTHORS
  ChangeLog
  INSTALL
  Makefile.am
  NEWS
  autogen.sh
  autotools/Makefile.am
  autotools/adcirc/Makefile.am
  autotools/adcprep/Makefile.am
  autotools/metis/Makefile.am
  autotools/padcirc/Makefile.am
  config.h.in
  configure.ac
  m4/ax_mpi.m4
Owners: none
