Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Added option to remove dphidt from computations
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/cstart.F
  src/gwce.F
  src/read_input.F
  src/subgridLookup.F
Owners: @jlwoodr

Adding error in adcprep for NOUT*=2
  prep/read_global.F
Owners: none

Refactoring nws08 into its own module
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/nws08.F90
  src/read_input.F
  src/wind.F
  work/makefile
Owners: none

Removing container build on pull request
  .github/workflows/container_pr.yaml
Owners: none

Updating image references to point to adcircorg/adcirc-ci
  .circleci/config.yml
  containers/Dockerfile
Owners: none

Updating README.md
  README.md
Owners: none

Updating minimum cmake version
  CMakeLists.txt
Owners: none

Removing behavior where stormnumber controlled the wind multiplier
  prep/prep.F
  prep/presizes.F
  src/nws08.F90
  src/read_input.F
Owners: none

Downloading only indivudual tests at a time
  .circleci/config.yml
Owners: none

Updating to run CI for new tests
  .circleci/config.yml
Owners: none

Removing file record counters from netCDF hot start files
  src/netcdfio.F
Owners: none

Cleaning up CMakeLists.txt file
  .circleci/config.yml
  CMakeLists.txt
Owners: none

Fixing an issue in adcprep not decomposing fort.20 flow boundary file properly if it contains lines with 80 characters or more
  prep/prep.F
Owners: none

Adding automated Docker container build
  .github/workflows/build_container.yaml
  .github/workflows/container_nightly.yaml
  .github/workflows/container_release.yaml
  README.md
  containers/Dockerfile
Owners: none

Updating NWS8 and adding upgrades from Wang et. al. (2022)
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/read_input.F
  src/wind.F
Owners: none

Fix a minor bug related to netcdf opening
  src/wind.F
Owners: none

Improving ibtype 64 VEW boundary for smoother drying
  src/boundaries.F
  src/timestep.F
  src/weir_boundary.F
  src/wetdry.F
Owners: none

Adding flags for nvidia compilers
  src/moon.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Updating compiler warning flags for thirdparty libs in updated wgrib2
  thirdparty/wgrib2/CMakeLists.txt
Owners: none

Updating README.md to inform users of the new ADCIRC documentation
  README.md
Owners: none

Limiting scope of workflows
  .github/workflows/container_latest.yaml
  .github/workflows/container_release.yaml
  .github/workflows/docs.yml
  .github/workflows/precommit.yaml
Owners: none

Adding developer mode files
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/developer.cmake
  cmake/libadcirc.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  docs/contributing/index.rst
  docs/index.rst
  src/netcdf_error.F90
  src/nws08.F90
Owners: none

Adding pre-commit checks and an updated CONTRIBUTING.md
  .github/workflows/precommit.yaml
  .pre-commit-config.yaml
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/macros.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  fortitude.toml
  src/astronomic.F90
  src/ephemerides.F90
  src/moon.F90
  src/netcdf_error.F90
  src/nws08.F90
  src/sun.F90
  src/sun_moon_system.F90
  src/tidalpotential.F90
  util/adcircResultsComparison.F90
Owners: none

Updating cmake minimum version
  CMakeLists.txt
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/CMakeLists.txt
Owners: none

Adding support for LLVM Flang compiler
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/macros.cmake
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
  thirdparty/wgrib2/wgrib2/gctpc/source/br_gctp.c
Owners: none

Fixing issues detected by developer mode
  CONTRIBUTING.md
  docs/contributing/index.rst
  src/ephemerides.F90
  src/nws08.F90
  src/tidalpotential.F90
Owners: none

Converting messenger.F -> messenger.F90
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/adcirc.F
  src/couple2swan.F
  src/global.F
  src/gwce.F
  src/hstart.F
  src/messenger.F
  src/messenger.F90
  src/sizes.F
  src/writer.F
  thirdparty/swan/SwanMaxOverNodes.ftn90
  thirdparty/swan/SwanMinOverNodes.ftn90
  thirdparty/swan/SwanSumOverNodes.ftn90
  thirdparty/swan/swanmain.ftn
  work/makefile
Owners: @caseydietrich

Fixing issues detected by LTO optimizer
  prep/cfi.h
  prep/mkdir.c
  src/owiwind_netcdf.F
Owners: @caseydietrich, @acrosby

Fixing toggle for developer flags
  cmake/developer.cmake
Owners: none

Fixing typo in bumpver.toml
  bumpver.toml
Owners: none

Fixing wind initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Applying 3D code fixes from Casey
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/boundaries.F
  src/cstart.F
  src/global_3dvs.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/wetdry.F
  src/write_output.F
  work/makefile
Owners: none

Adding 3D test case to test suite
  .circleci/config.yml
Owners: none

Fixing SWAN radiation stress extrapolation oscillation
  src/couple2swan.F
  src/timestep.F
Owners: @caseydietrich

Using integer comparison for various 3d options
  src/global_3dvs.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
Owners: none

Using bumpver for version tagging/management
  CMakeLists.txt
  bumpver.toml
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
Owners: none

Fixing variable type conversions in itpack
  src/itpackv.F
Owners: none

Fix out-of-bounds memory access caused by zeros in NeiTabEle
  src/mesh.F
  src/vew1d.F
Owners: @shinbunya

Converting gl2loc_mapping.F -> gl2loc_mapping.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/gl2loc_mapping.F
  src/gl2loc_mapping.F90
  src/hstart.F
  src/wind.F
  work/makefile
Owners: @cblakely97

Fixing velocity initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich
