Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

Removing unused file position information left over from binary files
  prep/prep.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/write_output.F
  src/writer.F
Owners: none

Removing file record counters from netCDF hot start files
  src/netcdfio.F
Owners: none

Starting to refactor boundary forcing section
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Adding sponge layer to boundary forcing file
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Fixing temporary arrays
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Updating predictor/corrector gwce to use boundary forcing module
  src/gwce.F
Owners: none

Updating legacy build for new source file
  work/makefile
Owners: none

Fixing type 52
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Cleaning up normal flow boundaries
  src/boundary_forcing.F90
Owners: none

Separating the testable portion of the boundary forcing
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/gwce.F
  src/gwce_bc_forcing.F90
  src/gwce_bc_forcing_impl.F90
  work/makefile
Owners: none

Updating makefile for legacy build
  work/makefile
Owners: none

Moving weir_boundaries.F --> weir_boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  src/boundaries/weir_boundary.F90
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  work/makefile
Owners: none

Updating formatting
  src/boundaries/gwce_bc_forcing.F90
Owners: none

Combining impl file
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Cleaning up unused variables, moving boundaries.F -> boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  prep/read_global.F
  src/adcirc.F
  src/boundaries.F
  src/boundaries/boundaries.F90
  src/logging.F90
  src/terminate.F90
  work/makefile
Owners: none

Cleaning up unused variables
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
Owners: none

Factoring out bc forcing from timestep
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/hstart.F
  src/read_input.F
  src/timestep.F
  work/makefile
Owners: none

Updating flags
  CMakeLists.txt
  cmake/kdtree2.cmake
  thirdparty/wgrib2/CMakeLists.txt
  work/makefile
Owners: none

Setting in/out params for gwce_new and gwce_new_pc
  src/gwce.F
Owners: none

Marking RELWITHDEB and MINSIZEREL flags as non-advanced
  cmake/kdtree2.cmake
  cmake/options_select.cmake
Owners: none

Setting position independent code flag
  CMakeLists.txt
Owners: none

Moving tide files into a folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/internaltide.F90
  src/tide/moon.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
  work/makefile
Owners: @wpringle

Fixing additional exe specific flags in cmake
  .commit-template
  CMakeLists.txt
  CONTRIBUTING.md
  cmake/InterproceduralOptimization.cmake
  cmake/StandardProjectSettings.cmake
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/kdtree2.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/utilities.cmake
  src/constants.F
  src/constants.F90
  src/ephemerides.F90
  src/logging.F90
  src/owiwind_netcdf.F
  src/subdomain.F
  src/timestep.F
  work/makefile
Owners: @caseydietrich, @acrosby

Explicitly setting ierr in ephemerides.F90
  src/ephemerides.F90
Owners: none

Factoring out momentum boundaries
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/global.F
  src/gwce.F
  src/momentum.F
  src/timestep.F
  work/makefile
Owners: none

Cleaning up VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Fixing VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Collapsing formulations for C/NC
  src/boundaries/momentum_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

Cleaning up array allocations and unused variables
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/boundaries.F90
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/gwce.F
  src/timestep.F
Owners: none

Factoring out bcs from predictor-corrector
  src/boundaries/momentum_bc_forcing.F90
  src/momentum.F
Owners: none

Updating subgrid variable (level) name
  src/gwce.F
  src/momentum.F
  src/nodalattr.F
  src/wetdry.F
Owners: none

Updating compatibility with Nvidia nvhpc compilers
  cmake/macros.cmake
  cmake/metis.cmake
  src/tide/moon.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/ip2lib_d/earth_radius.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_equid_cylind_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_gaussian_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_lambert_conf_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_mercator_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_polar_stereo_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_rot_equid_cylind_egrid_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_rot_equid_cylind_mod.f90
  thirdparty/wgrib2/ip2lib_d/ijkgds0.f90
  thirdparty/wgrib2/ip2lib_d/ipxetas.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs2.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs3.f90
  thirdparty/wgrib2/ip2lib_d/polates4.f90
  thirdparty/wgrib2/ip2lib_d/polatev4.f90
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Refactoring timestep boundaries
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

Formatting cmake files
  cmake/adcswan.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
Owners: none

Cleaning up imports for logging functions
  prep/adcprep.F
  src/adcirc.F
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/global.F
  src/harm.F
  src/hstart.F
  src/momentum.F
  src/netcdfio.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/subgridLookup.F
  src/tide/ephemerides.F90
  src/tide/moon.F90
  src/tide/tidalpotential.F90
  src/timestep.F
  src/vsmy.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
Owners: @caseydietrich, @acrosby, @jlwoodr

Running fprettify on *.F90 files
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/tidalpotential.F90
Owners: none

Cleaning up so all F90 files compile with strict warning flags
  cmake/macros.cmake
  cmake/version.cmake
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
  src/logging.F90
  src/tide/tidalpotential.F90
  src/wind.F
Owners: none

Namespacing ADCIRC cmake options and adding strict compile option
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/kdtree2.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/netcdf_check.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
  cmake/version.cmake
  cmake/xdmf_check.cmake
  src/boundaries/boundaries.F90
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
  src/constants.F90
  src/netcdf_error.F90
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/internaltide.F90
  src/tide/tidalpotential.F90
  src/wind.F
Owners: none

Building in CI environments using cmake toolchain files
  .circleci/config.yml
  cmake/InterproceduralOptimization.cmake
  cmake/toolchains/tc-linux-x86-circleci-gcc.cmake
  cmake/toolchains/tc-linux-x86-circleci-intel.cmake
  cmake/toolchains/tc-osx-arm-homebrew.cmake
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Applying 3D code fixes from Casey
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/boundaries.F
  src/cstart.F
  src/global_3dvs.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/wetdry.F
  src/write_output.F
  work/makefile
Owners: none

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
