Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

Moving weir_boundaries.F --> weir_boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  src/boundaries/weir_boundary.F90
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  work/makefile
Owners: none

Updating makefile for legacy build
  work/makefile
Owners: none

Combining impl file
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Updating formatting
  src/boundaries/gwce_bc_forcing.F90
Owners: none

Explicitly setting ierr in ephemerides.F90
  src/ephemerides.F90
Owners: none

Fixing additional exe specific flags in cmake
  .circleci/config.yml
  .commit-template
  CMakeLists.txt
  CONTRIBUTING.md
  cmake/InterproceduralOptimization.cmake
  cmake/StandardProjectSettings.cmake
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/kdtree2.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/utilities.cmake
  src/constants.F
  src/constants.F90
  src/ephemerides.F90
  src/logging.F90
  src/owiwind_netcdf.F
  src/subdomain.F
  src/timestep.F
  work/makefile
Owners: @caseydietrich, @acrosby

Setting position independent code flag
  CMakeLists.txt
Owners: none

Updating flags
  CMakeLists.txt
  cmake/kdtree2.cmake
  thirdparty/wgrib2/CMakeLists.txt
  work/makefile
Owners: none

Moving tide files into a folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/internaltide.F90
  src/tide/moon.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
  work/makefile
Owners: @wpringle

Marking RELWITHDEB and MINSIZEREL flags as non-advanced
  cmake/kdtree2.cmake
  cmake/options_select.cmake
Owners: none

Setting in/out params for gwce_new and gwce_new_pc
  src/gwce.F
Owners: none

Factoring out bc forcing from timestep
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/hstart.F
  src/read_input.F
  src/timestep.F
  work/makefile
Owners: none

Cleaning up unused variables
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
Owners: none

Cleaning up unused variables, moving boundaries.F -> boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  prep/read_global.F
  src/adcirc.F
  src/boundaries.F
  src/boundaries/boundaries.F90
  src/logging.F90
  src/terminate.F90
  work/makefile
Owners: none

Latest main Jan 24, 2025. Commit begfore developing inline SAL.
  .gitignore
Owners: none

Factoring out momentum boundaries
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/global.F
  src/gwce.F
  src/momentum.F
  src/timestep.F
  work/makefile
Owners: none

Cleaning up array allocations and unused variables
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/boundaries.F90
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/gwce.F
  src/timestep.F
Owners: none

Fixing VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Cleaning up VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Collapsing formulations for C/NC
  src/boundaries/momentum_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

add more checking on already allocated and deallocating kdtree related arrays
  prep/read_global.F
  src/owiwind_netcdf.F
  src/read_input.F
Owners: @caseydietrich, @acrosby

Downloading testsuite from s3 instead of github lfs
  .circleci/config.yml
Owners: none

Using the spack environment to set the circleci environment
  .circleci/config.yml
Owners: none

Updating root paths to user paths
  .circleci/config.yml
  work/cmplrflags.mk
Owners: none

Updating environment source
  .circleci/config.yml
  work/cmplrflags.mk
Owners: none

Adding check for station output type in packTwo
  src/globalio.F
Owners: none

Adding check for station output type in packTwo
  src/globalio.F
Owners: none

Downloading only indivudual tests at a time
  .circleci/config.yml
Owners: none

Updating builds for Ninja and adding warning handling
  .circleci/config.yml
  cmake/adcswan.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  src/ephemerides.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
  util/adcircResultsComparison.F90
Owners: none

Updating minimum cmake version
  CMakeLists.txt
Owners: none

Adding check for station output type in packTwo
  src/globalio.F
Owners: none

Adding check for station output type in packTwo
  src/globalio.F
Owners: none

Downloading testsuite from s3 instead of github lfs
  .circleci/config.yml
Owners: none

Updating minimum cmake version
  CMakeLists.txt
Owners: none

Updating builds for Ninja and adding warning handling
  .circleci/config.yml
  cmake/adcswan.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  src/ephemerides.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
  util/adcircResultsComparison.F90
Owners: none

Updating root paths to user paths
  .circleci/config.yml
  work/cmplrflags.mk
Owners: none

Adding check for station output type in packTwo
  src/globalio.F
Owners: none

Using the spack environment to set the circleci environment
  .circleci/config.yml
Owners: none

Downloading only indivudual tests at a time
  .circleci/config.yml
Owners: none

Updating environment source
  .circleci/config.yml
  work/cmplrflags.mk
Owners: none

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
