Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

Building metis as object library instead of static
  cmake/metis.cmake
Owners: none

Adding internal tide to test list
  .circleci/config.yml
Owners: none

Adding namelist variable dynamicWaterLevelCorrectionMethod for specifying a method to be used in water level correction
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/adcirc.F
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/wind.F
Owners: none

Adding support for NVIDIA compilers
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind.F
Owners: none

Changing variable name deltaOffset to dynamicWaterLevelCorrectionDelta for consistency
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/timestep.F
Owners: none

Adding mass in GWCE for dynamic water level correction (data assimilation)
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/nodalattr.F
  src/timestep.F
Owners: none

Updating internal tide dissipation modification for use within ADCIRC2D+ to use scalar dissipation ratio
  src/internaltide.F
  src/nodalattr.F
Owners: @wpringle

Running formatter on cmake files
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
  cmake/version.cmake
Owners: none

Cleanups in cmake build system
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/utilities.cmake
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/CMakeLists.txt
Owners: none

fix bugs in matching an input string specifying a method determining the moon/sub coordinates.
  src/tidalpotential.F90
Owners: none

Add modules for calculating the position of the Moon and Sun
  .circleci/config.yml
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/metis.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/adcirc.F
  src/astronomic.F90
  src/constants.F
  src/ephemerides.F90
  src/global.F
  src/messenger.F
  src/moon.F90
  src/read_input.F
  src/sun.F90
  src/sun_moon_system.F90
  src/tidalpotential.F90
  src/timestep.F
  src/wind.F
  work/makefile
Owners: none

Converting memory reporting to use bytes/megabytes/gigabytes
  prep/metis.F
  prep/presizes.F
  thirdparty/metis/Lib/estmem.c
  thirdparty/metis/Lib/frename.c
  thirdparty/metis/Lib/proto.h
Owners: none

minor changes: remove TpBaseDate from prep, use 'none' as a default value for TpStartDate
  prep/pre_global.F
  prep/prep.F
Owners: none

Updating root paths to user paths
  .circleci/config.yml
  work/cmplrflags.mk
Owners: none

Allowing NTIF=0 when using full TIP formula
  src/read_input.F
Owners: none

Fixing behavior for warning elevation debug file when activated through namelist
  src/timestep.F
Owners: none

Updating message in log file (fort.16) for warning elevation file
  src/read_input.F
Owners: none

Using the spack environment to set the circleci environment
  .circleci/config.yml
Owners: none

Fixing issue with '-FI' flag for Intel compilers
  work/cmplrflags.mk
Owners: none

Correct two tables (LONARG and LATARG) in moon.F
  src/moon.F90
  src/tidalpotential.F90
Owners: none

fixing parsing TIPStartDate used in the full tidal potential functions
  src/tidalpotential.F90
Owners: none

Updating environment source
  .circleci/config.yml
  work/cmplrflags.mk
Owners: none

Downloading testsuite from s3 instead of github lfs
  .circleci/config.yml
Owners: none

Updating version of CI container
  .circleci/config.yml
Owners: none

Fixing segfault that occurs when SWAN runs on a mesh with 1D channels
  thirdparty/swan/SwanFindPoint.ftn90
  thirdparty/swan/SwanReadADCGrid.ftn90
Owners: @caseydietrich

Adding build of main branch containers on change
  .github/workflows/container_latest.yaml
  .github/workflows/container_nightly.yaml
Owners: none

Removing unused file position information left over from binary files
  prep/prep.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/write_output.F
  src/writer.F
Owners: none

Adding doxygen documentation to nws08 module
  src/nws08.F90
Owners: none

Updating nws08 module to compile with strict compiler checks
  src/nws08.F90
Owners: none

Fix NETCDF file opening in INSET_NC_INPUT
  src/wind.F
Owners: none

Updating builds for Ninja and adding warning handling
  .circleci/config.yml
  cmake/adcswan.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  src/ephemerides.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
  util/adcircResultsComparison.F90
Owners: none

Updating commit message for docs builds
  .github/workflows/docs.yml
Owners: none

Removing binary output option
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/read_input.F
  src/sizes.F
  src/write_output.F
Owners: @caseydietrich

Using pre-computed array for csr matrix position
  src/gwce.F
  src/mesh.F
  src/read_input.F
Owners: none

Adding Wind & Pressure Inset Option in NETCDF Format for NWS14
  .circleci/config.yml
  prep/pre_global.F
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/read_input.F
  src/wind.F
  src/write_output.F
Owners: none

Making Inset Code Block Faster
  src/wind.F
Owners: none

Updating tide potential calculations to explicitly use double precision
  src/astronomic.F90
  src/ephemerides.F90
  src/moon.F90
  src/netcdf_error.F90
  src/sun.F90
  src/sun_moon_system.F90
  src/tidalpotential.F90
Owners: none

Adjusting format read to i4 from i3 for iFcstInc.
  wind/aswip.F
Owners: none

Adding --no-sign-request to s3 download
  .circleci/config.yml
Owners: none

Adding ARM container builds
  .github/workflows/build_container.yaml
  .github/workflows/container_nightly.yaml
  .github/workflows/container_pr.yaml
  .github/workflows/container_release.yaml
  containers/Dockerfile
Owners: none

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
