Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Fix out-of-bounds memory access caused by zeros in NeiTabEle
  src/mesh.F
  src/vew1d.F
Owners: @shinbunya

Updating binary hotstart format for radiation stress information
  src/hstart.F
  src/mesh.F
  src/nodalattr.F
  src/read_input.F
  src/timestep.F
  src/write_output.F
  src/writer.F
Owners: none

Updating binary hotstart format for radiation stress information
  src/hstart.F
  src/mesh.F
  src/nodalattr.F
  src/read_input.F
  src/timestep.F
  src/write_output.F
  src/writer.F
Owners: none

Using bumpver for version tagging/management
  CMakeLists.txt
  bumpver.toml
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
Owners: none

Converting constants.F -> constants.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/constants.F
  src/constants.F90
  work/makefile
Owners: none

Removing custom text->numeric parsing code from global.F
  prep/read_global.F
  src/global.F
  src/read_input.F
Owners: none

Converting gl2loc_mapping.F -> gl2loc_mapping.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/gl2loc_mapping.F
  src/gl2loc_mapping.F90
  src/hstart.F
  src/wind.F
  work/makefile
Owners: @cblakely97

Removing need for flag -DADCSWAN to compile adcprep
  cmake/adcprep.cmake
  cmake/options_flags.cmake
  prep/adcprep.F
  prep/prep.F
  prep/presizes.F
  prep/subprep.F
  src/global.F
  src/netcdfio.F90
  src/read_input.F
  work/cmplrflags.mk
Owners: none

Converting weir_boundary.F -> weir_boundary.F90
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  src/weir_boundary.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Converting hashtable.F -> hashtable.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/hashtable.F
  src/hashtable.F90
  work/makefile
Owners: none

Removing vendored adcirc_Xdmf.f
  src/adcirc_Xdmf.f
  src/mesh.F
  src/nodalattr.F
  src/xdmfio.F
Owners: none

Converting messenger.F -> messenger.F90
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/adcirc.F
  src/couple2swan.F
  src/global.F
  src/gwce.F
  src/hstart.F
  src/messenger.F
  src/messenger.F90
  src/sizes.F
  src/writer.F
  thirdparty/swan/SwanMaxOverNodes.ftn90
  thirdparty/swan/SwanMinOverNodes.ftn90
  thirdparty/swan/SwanSumOverNodes.ftn90
  thirdparty/swan/swanmain.ftn
  work/makefile
Owners: @caseydietrich

Converting quadrature.F -> quadrature.F90, sponge_layer.F -> sponge_layer.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/momentum.F
  src/quadrature.F
  src/quadrature.F90
  src/sponge_layer.F
  src/sponge_layer.F90
  src/timestep.F
  work/makefile
Owners: @dwirasae

Fixing variable type conversions in itpack
  src/itpackv.F
Owners: none

Updating vew1d.F -> vew1d.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/vew1d.F
  src/vew1d.F90
  work/makefile
Owners: @shinbunya

Using bumpver for version tagging/management
  CMakeLists.txt
  bumpver.toml
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
Owners: none

Removing need for flag -DADCSWAN to compile adcprep
  cmake/adcprep.cmake
  cmake/options_flags.cmake
  prep/adcprep.F
  prep/prep.F
  prep/presizes.F
  prep/subprep.F
  src/global.F
  src/netcdfio.F90
  src/read_input.F
  work/cmplrflags.mk
Owners: none

Converting hashtable.F -> hashtable.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/hashtable.F
  src/hashtable.F90
  work/makefile
Owners: none

Converting gl2loc_mapping.F -> gl2loc_mapping.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/gl2loc_mapping.F
  src/gl2loc_mapping.F90
  src/hstart.F
  src/wind.F
  work/makefile
Owners: @cblakely97

Removing custom text->numeric parsing code from global.F
  prep/read_global.F
  src/global.F
  src/read_input.F
Owners: none

Converting messenger.F -> messenger.F90
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/adcirc.F
  src/couple2swan.F
  src/global.F
  src/gwce.F
  src/hstart.F
  src/messenger.F
  src/messenger.F90
  src/sizes.F
  src/writer.F
  thirdparty/swan/SwanMaxOverNodes.ftn90
  thirdparty/swan/SwanMinOverNodes.ftn90
  thirdparty/swan/SwanSumOverNodes.ftn90
  thirdparty/swan/swanmain.ftn
  work/makefile
Owners: @caseydietrich

Converting weir_boundary.F -> weir_boundary.F90
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  src/weir_boundary.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Updating vew1d.F -> vew1d.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/vew1d.F
  src/vew1d.F90
  work/makefile
Owners: @shinbunya

Fixing variable type conversions in itpack
  src/itpackv.F
Owners: none

Converting quadrature.F -> quadrature.F90, sponge_layer.F -> sponge_layer.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/momentum.F
  src/quadrature.F
  src/quadrature.F90
  src/sponge_layer.F
  src/sponge_layer.F90
  src/timestep.F
  work/makefile
Owners: @dwirasae

Removing vendored adcirc_Xdmf.f
  src/adcirc_Xdmf.f
  src/mesh.F
  src/nodalattr.F
  src/xdmfio.F
Owners: none

Converting constants.F -> constants.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/constants.F
  src/constants.F90
  work/makefile
Owners: none

Converting internaltide.F -> internaltide.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/internaltide.F90
  work/makefile
Owners: @wpringle

Converting internaltide.F -> internaltide.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/internaltide.F90
  work/makefile
Owners: @wpringle

Using a two prescribed date formats in the fort.15 to prevent ambiguity
  CMakeLists.txt
  src/read_input.F
  src/tidalpotential.F90
Owners: none

Fixing variable aliasing. Conversion of owiwind_netcdf.F -> nws13.F90
  BUILD.md
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/presizes.F
  src/nws13.F90
  src/read_input.F
  src/wind.F
Owners: none

Factoring out repeated operations
  prep/prep.F
  prep/presizes.F
  src/nws13.F90
  thirdparty/fdate/src/datetime.F90
  work/makefile
Owners: none

Using fdate within nws=13 for date calculations
  prep/prep.F
  prep/presizes.F
  src/nws13.F90
  src/read_input.F
  thirdparty/fdate/src/datetime.F90
  work/makefile
Owners: none

Moving wind modules into their own folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind_modules/nws08.F90
  src/wind_modules/nws13.F90
  work/makefile
Owners: none

Fixing fort.22.nc reference date format
  src/wind_modules/nws13.F90
Owners: none

Fixing typo in bumpver.toml
  bumpver.toml
Owners: none

bump version v56.1.0 -> v56.2.0-beta.1
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

Fixing issues detected by LTO optimizer
  prep/cfi.h
  prep/mkdir.c
  src/owiwind_netcdf.F
Owners: @caseydietrich, @acrosby

Fixing issues detected by LTO optimizer
  prep/cfi.h
  prep/mkdir.c
  src/owiwind_netcdf.F
Owners: @caseydietrich, @acrosby

Building metis as object library instead of static
  cmake/metis.cmake
Owners: none
