Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Fixing warning message for 3d
  src/read_input.F
Owners: none

Fixing fort.22.nc reference date format
  src/wind_modules/nws13.F90
Owners: none

Fixing variable aliasing. Conversion of owiwind_netcdf.F -> nws13.F90
  BUILD.md
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/presizes.F
  src/nws13.F90
  src/owiwind_netcdf.F
  src/read_input.F
  src/wind.F
Owners: @caseydietrich, @acrosby

Moving wind modules into their own folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind_modules/nws08.F90
  src/wind_modules/nws13.F90
  work/makefile
Owners: none

Using fdate within nws=13 for date calculations
  prep/prep.F
  prep/presizes.F
  src/nws13.F90
  src/read_input.F
  thirdparty/fdate/src/datetime.F90
  work/makefile
Owners: none

Factoring out repeated operations
  prep/prep.F
  prep/presizes.F
  src/nws13.F90
  thirdparty/fdate/src/datetime.F90
  work/makefile
Owners: none

Using a two prescribed date formats in the fort.15 to prevent ambiguity
  CMakeLists.txt
  src/read_input.F
  src/tidalpotential.F90
Owners: none

Fixing issue with NWS13 time reference
  src/wind_modules/nws13.F90
Owners: none

Shifting interpolation weights into nws13 module
  src/wind.F
  src/wind_modules/nws13.F90
Owners: none

Cleaning up and refactoring
  src/wind_modules/nws13.F90
Owners: none

Using a single variable to track storm position
  src/wind_modules/nws13.F90
Owners: none

Refactoring into objects to clean up code
  src/wind_modules/nws13.F90
Owners: none

Simplifying logic in nws13.F90
  cmake/options_select.cmake
  src/wind_modules/nws13.F90
Owners: none

Refactoring NWS13GET subroutine
  src/wind_modules/nws13.F90
Owners: none

Calculating interpolation weights for moving grids each time
  src/wind_modules/nws13.F90
Owners: none

Adding spatial acceleration structure instead of kdtree
  src/wind_modules/nws13.F90
Owners: none

Fixing hard coded parameters
  src/wind_modules/nws13.F90
Owners: none

Implementing caching to avoid reading data each time
  src/wind_modules/nws13.F90
Owners: none

Refactoring so that each nws13 group is a class with methods
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
  work/makefile
Owners: none

Initial intermediate lagrangian snap implementation
  src/wind.F
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
Owners: none

Fixing interpolation
  src/wind_modules/nws13.F90
Owners: none

Adding check for null values
  src/wind.F
  src/wind_modules/nws13data.F90
Owners: none

Converting free functions to class methods for nws13
  src/wind.F
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
Owners: none

Commit IC
  src/cstart.F
  src/nodalattr.F
Owners: none

Using contiguous storage for NHSTAR=5 format netCDF hotstart
  src/netcdfio.F
Owners: none

Stop writing unnecessary records to decomposed fort.20 files
  prep/pre_global.F
  prep/prep.F
Owners: none

Stop writing unnecessary records to decomposed fort.20 files
  prep/pre_global.F
  prep/prep.F
Owners: none

Better handle giving and receiving node activation along VEW boundaries
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/boundaries.F
  src/gwce.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  src/wetdry.F
Owners: none

Better handle giving and receiving node activation along VEW boundaries
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/boundaries.F
  src/gwce.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  src/wetdry.F
Owners: none

Converting netcdfio.F to netcdfio.F90 and fixing issues
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  src/netcdfio.F
  src/netcdfio.F90
  src/write_output.F
  src/writer.F
  work/makefile
Owners: none

Fixing SWAN radiation stress extrapolation oscillation
  src/couple2swan.F
  src/timestep.F
Owners: @caseydietrich

Adding raw SWAN radiation stresses to hotstart file
  src/couple2swan.F
  src/global.F
  src/netcdfio.F
  src/timestep.F
  src/write_output.F
Owners: @caseydietrich

Using contiguous storage for NHSTAR=5 format netCDF hotstart
  src/netcdfio.F
Owners: none

Adding wave radiation stress (rsx1,rsy1,rsx2,rsy2) to the hotstart file
  src/global.F
  src/netcdfio.F
  src/write_output.F
Owners: none

Clarifying logic for hot start wave radiation stresses
  src/netcdfio.F90
Owners: none

Using contiguous storage for NHSTAR=5 format netCDF hotstart
  src/netcdfio.F
Owners: none

Clarifying logic for hot start wave radiation stresses
  src/netcdfio.F90
Owners: none

Adding wave radiation stress (rsx1,rsy1,rsx2,rsy2) to the hotstart file
  src/global.F
  src/netcdfio.F
  src/write_output.F
Owners: none

Fixing SWAN radiation stress extrapolation oscillation
  src/couple2swan.F
  src/timestep.F
Owners: @caseydietrich

Adding raw SWAN radiation stresses to hotstart file
  src/couple2swan.F
  src/global.F
  src/netcdfio.F
  src/timestep.F
  src/write_output.F
Owners: @caseydietrich
