Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

Converting netcdfio.F to netcdfio.F90 and fixing issues
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  src/netcdfio.F
  src/netcdfio.F90
  src/write_output.F
  src/writer.F
  work/makefile
Owners: none

Updating vew1d.F -> vew1d.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/vew1d.F
  src/vew1d.F90
  work/makefile
Owners: @shinbunya

Cleaning up cmake intermediate libs
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/mkdir.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/version.cmake
Owners: none

Updating cmake macro name format
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
Owners: none

Updating output files
  prep/prep.F
  src/netcdfio.F
  src/write_output.F
Owners: none

Fixing z0 initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Clarifying logic for hot start wave radiation stresses
  src/netcdfio.F90
Owners: none

Removing commented out code with updated implementation from Casey
  src/transport.F
  src/vsmy.F
Owners: none

Fixing warning message for 3d
  src/read_input.F
Owners: none

Converting quadrature.F -> quadrature.F90, sponge_layer.F -> sponge_layer.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/momentum.F
  src/quadrature.F
  src/quadrature.F90
  src/sponge_layer.F
  src/sponge_layer.F90
  src/timestep.F
  work/makefile
Owners: @dwirasae

Removing need for flag -DADCSWAN to compile adcprep
  cmake/adcprep.cmake
  cmake/options_flags.cmake
  prep/adcprep.F
  prep/prep.F
  prep/presizes.F
  prep/subprep.F
  src/global.F
  src/netcdfio.F90
  src/read_input.F
  work/cmplrflags.mk
Owners: none

Adding About This Documentation page to the documentation
  docs/_static/custom.css
  docs/about/index.rst
  docs/index.rst
Owners: none

Converting internaltide.F -> internaltide.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/internaltide.F90
  work/makefile
Owners: @wpringle

Fix River Forcing While Using Projection (#466)
  .circleci/config.yml
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries.F
  src/cstart.F
  src/global.F
  src/hstart.F
  src/mesh.F
  src/normal_flow_boundary.F90
  src/timestep.F
  work/makefile
Owners: none

Converting constants.F -> constants.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/constants.F
  src/constants.F90
  work/makefile
Owners: none

bump version v56.1.0 -> v56.2.0-beta.1
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

Updating README.md
  README.md
Owners: none

Stop writing unnecessary records to decomposed fort.20 files
  prep/pre_global.F
  prep/prep.F
Owners: none

Converting hashtable.F -> hashtable.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/hashtable.F
  src/hashtable.F90
  work/makefile
Owners: none

Using contiguous storage for NHSTAR=5 format netCDF hotstart
  src/netcdfio.F
Owners: none

Fixing uninitialized values
  src/global.F
  src/owiwind.F
  src/wind.F
Owners: none

Removing vendored adcirc_Xdmf.f
  src/adcirc_Xdmf.f
  src/mesh.F
  src/nodalattr.F
  src/xdmfio.F
Owners: none

Adding wave radiation stress (rsx1,rsy1,rsx2,rsy2) to the hotstart file
  src/global.F
  src/netcdfio.F
  src/write_output.F
Owners: none

Better handle giving and receiving node activation along VEW boundaries
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/boundaries.F
  src/gwce.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  src/wetdry.F
Owners: none

Adding raw SWAN radiation stresses to hotstart file
  src/couple2swan.F
  src/global.F
  src/netcdfio.F
  src/timestep.F
  src/write_output.F
Owners: @caseydietrich

Building metis as object library instead of static
  cmake/metis.cmake
Owners: none

Converting weir_boundary.F -> weir_boundary.F90
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  src/weir_boundary.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Updating binary hotstart format for radiation stress information
  src/hstart.F
  src/mesh.F
  src/nodalattr.F
  src/read_input.F
  src/timestep.F
  src/write_output.F
  src/writer.F
Owners: none

Updating github actions versions
  .github/workflows/docs.yml
Owners: none

Removing custom text->numeric parsing code from global.F
  prep/read_global.F
  src/global.F
  src/read_input.F
Owners: none

Updating PR template to include a section for making docs changes
  .github/pull_request_template.md
Owners: none

Adding metis flags for AppleClang
  cmake/metis.cmake
Owners: none

bump version v56.2.0-beta.1 -> v56.2.0
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

bump version v56.2.0-beta.1 -> v56.2.0
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

Removing legacy fortran subroutines and syntax
  cmake/adcprep.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  prep/adcpost.F
  prep/adcprep.F
  prep/decomp.F
  prep/machdep.F
  prep/prep.F
  prep/subprep.F
  src/adcirc.F
  src/boundaries.F
  src/couple2baroclinic3D.F
  src/global.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/mesh.F
  src/nodalattr.F
  src/owi_ice.F
  src/read_input.F
  src/sizes.F
  src/transport.F
  src/vsmy.F
  src/wind.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
  util/adccmp.F
  util/adcirc2xdmf.f90
  util/adcircResultsComparison.F90
  util/hot2asc.F
  util/hstime.F
  util/inflate.F
  util/radedit.F
  util/xdmf2adcirc.f90
  wind/aswip.F
  work/makefile
Owners: @cblakely97, @wpringle

Adding a help info screen to the command line for executables
  prep/adcprep.F
  src/adcirc.F
  wind/aswip.F
Owners: none

Fixing minor bug in sponge layer spherical coordinates
  src/gwce.F
Owners: none

Modernizing and cleaning up cmake build system
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/helper_functions.cmake
  cmake/interface_libraries.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/mkdir.cmake
  cmake/mpi_check.cmake
  cmake/netcdf_check.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
  cmake/version.cmake
  cmake/xdmf_check.cmake
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/hstart.F
  src/itpackv.F
  src/momentum.F
  src/read_input.F
  src/sponge_layer.F90
  src/timestep.F
  thirdparty/wgrib2/CMakeLists.txt
  work/cmplrflags.mk
Owners: none

Modernizing MPI to use mpi_f08
  src/adcirc.F
  src/gl2loc_mapping.F90
  src/global.F
  src/globalio.F
  src/messenger.F90
  src/sizes.F
  src/wind.F
  src/writer.F
  thirdparty/swan/SwanMaxOverNodes.ftn90
  thirdparty/swan/SwanMinOverNodes.ftn90
  thirdparty/swan/SwanPunCollect.ftn90
  thirdparty/swan/SwanSumOverNodes.ftn90
Owners: @caseydietrich

Fixing uninitialized memory in SWAN
  thirdparty/swan/SwanPunCollect.ftn90
  thirdparty/swan/swanmain.ftn
Owners: @caseydietrich

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
