Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Updating compatibility with Nvidia nvhpc compilers
  cmake/macros.cmake
  cmake/metis.cmake
  src/tide/moon.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/ip2lib_d/earth_radius.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_equid_cylind_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_gaussian_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_lambert_conf_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_mercator_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_polar_stereo_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_rot_equid_cylind_egrid_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_rot_equid_cylind_mod.f90
  thirdparty/wgrib2/ip2lib_d/ijkgds0.f90
  thirdparty/wgrib2/ip2lib_d/ipxetas.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs2.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs3.f90
  thirdparty/wgrib2/ip2lib_d/polates4.f90
  thirdparty/wgrib2/ip2lib_d/polatev4.f90
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Cleaning up imports for logging functions
  prep/adcprep.F
  src/adcirc.F
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/global.F
  src/harm.F
  src/hstart.F
  src/momentum.F
  src/netcdfio.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/subgridLookup.F
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/moon.F90
  src/tide/tidalpotential.F90
  src/timestep.F
  src/vsmy.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
Owners: @caseydietrich, @acrosby, @jlwoodr

Formatting cmake files
  cmake/adcswan.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
Owners: none

Refactoring kdtree2 search to be self contained within read_input
  cmake/adcswan.cmake
  cmake/macros.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  src/global.F
  src/read_input.F
Owners: none

Added option to remove dphidt from computations
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/cstart.F
  src/gwce.F
  src/read_input.F
  src/subgridLookup.F
Owners: @jlwoodr

changed name of dphidt term and make default off
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/cstart.F
  src/read_input.F
  src/subgridLookup.F
Owners: @jlwoodr

Add a direct spherical harmonic transform of FEM mesh
  src/inline_sal.F90
Owners: none

progress inline SAL: (i) compute sal at every time step
  cmake/adcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/constants.F
  src/inline_sal.F90
  src/messenger.F
  src/read_input.F
  src/timestep.F
Owners: none

Progress in SAL
  src/inline_sal.F90
  src/read_input.F
  src/timestep.F
Owners: none

Adding Wind & Pressure Inset Option in NETCDF Format for NWS14
  .circleci/config.yml
  prep/pre_global.F
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/read_input.F
  src/wind.F
  src/write_output.F
Owners: none

Adding Wind & Pressure Inset Option in NETCDF Format for NWS14
  .circleci/config.yml
  prep/pre_global.F
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/read_input.F
  src/wind.F
  src/write_output.F
Owners: none

Updating predictor/corrector gwce to use boundary forcing module
  src/gwce.F
Owners: none

Separating the testable portion of the boundary forcing
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/gwce.F
  src/gwce_bc_forcing.F90
  src/gwce_bc_forcing_impl.F90
  work/makefile
Owners: none

Starting to refactor boundary forcing section
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Adding sponge layer to boundary forcing file
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Cleaning up normal flow boundaries
  src/boundary_forcing.F90
Owners: none

Updating legacy build for new source file
  work/makefile
Owners: none

Fixing temporary arrays
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Fixing type 52
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Moving weir_boundaries.F --> weir_boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  src/boundaries/weir_boundary.F90
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  work/makefile
Owners: none

Combining impl file
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Updating formatting
  src/boundaries/gwce_bc_forcing.F90
Owners: none

Updating makefile for legacy build
  work/makefile
Owners: none

Updating subgrid variable (level) name
  src/gwce.F
  src/momentum.F
  src/nodalattr.F
  src/wetdry.F
Owners: none

Updating compatibility with Nvidia nvhpc compilers
  cmake/macros.cmake
  cmake/metis.cmake
  src/tide/moon.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/ip2lib_d/earth_radius.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_equid_cylind_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_gaussian_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_lambert_conf_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_mercator_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_polar_stereo_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_rot_equid_cylind_egrid_mod.f90
  thirdparty/wgrib2/ip2lib_d/gdswzd_rot_equid_cylind_mod.f90
  thirdparty/wgrib2/ip2lib_d/ijkgds0.f90
  thirdparty/wgrib2/ip2lib_d/ipxetas.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs2.f90
  thirdparty/wgrib2/ip2lib_d/ipxwafs3.f90
  thirdparty/wgrib2/ip2lib_d/polates4.f90
  thirdparty/wgrib2/ip2lib_d/polatev4.f90
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Cleaning up array allocations and unused variables
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/boundaries.F90
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/gwce.F
  src/timestep.F
Owners: none

Formatting cmake files
  cmake/adcswan.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
Owners: none

Collapsing formulations for C/NC
  src/boundaries/momentum_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

Factoring out bcs from predictor-corrector
  src/boundaries/momentum_bc_forcing.F90
  src/momentum.F
Owners: none

Cleaning up imports for logging functions
  prep/adcprep.F
  src/adcirc.F
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/global.F
  src/harm.F
  src/hstart.F
  src/momentum.F
  src/netcdfio.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/subgridLookup.F
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/moon.F90
  src/tide/tidalpotential.F90
  src/timestep.F
  src/vsmy.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
Owners: @caseydietrich, @acrosby, @jlwoodr

Setting position independent code flag
  CMakeLists.txt
Owners: none

Explicitly setting ierr in ephemerides.F90
  src/ephemerides.F90
Owners: none

Fixing VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Factoring out momentum boundaries
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/global.F
  src/gwce.F
  src/momentum.F
  src/timestep.F
  work/makefile
Owners: none

Marking RELWITHDEB and MINSIZEREL flags as non-advanced
  cmake/kdtree2.cmake
  cmake/options_select.cmake
Owners: none

Setting in/out params for gwce_new and gwce_new_pc
  src/gwce.F
Owners: none

Fixing additional exe specific flags in cmake
  .circleci/config.yml
  .commit-template
  CMakeLists.txt
  CONTRIBUTING.md
  cmake/InterproceduralOptimization.cmake
  cmake/StandardProjectSettings.cmake
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/kdtree2.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/utilities.cmake
  src/constants.F
  src/constants.F90
  src/ephemerides.F90
  src/logging.F90
  src/owiwind_netcdf.F
  src/subdomain.F
  src/timestep.F
  work/makefile
Owners: @caseydietrich, @acrosby

Refactoring timestep boundaries
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

Cleaning up unused variables
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
Owners: none

Cleaning up VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none
