Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

Using integer comparison for various 3d options
  src/global_3dvs.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
Owners: none

Removing commented out code with updated implementation from Casey
  src/transport.F
  src/vsmy.F
Owners: none

Adjusting format read to i4 from i3 for iFcstInc.
  wind/aswip.F
Owners: none

Adjusting format read to i4 from i3 for iFcstInc.
  wind/aswip.F
Owners: none

Removing unused file position information left over from binary files
  prep/prep.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/write_output.F
  src/writer.F
Owners: none

Cleaning up CMakeLists.txt file
  .circleci/config.yml
  CMakeLists.txt
Owners: none

Removing binary output option
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/read_input.F
  src/sizes.F
  src/write_output.F
Owners: @caseydietrich

Removing file record counters from netCDF hot start files
  src/netcdfio.F
Owners: none

Adding error in adcprep for NOUT*=2
  prep/read_global.F
Owners: none

Removing file record counters from netCDF hot start files
  src/netcdfio.F
Owners: none

Cleaning up CMakeLists.txt file
  .circleci/config.yml
  CMakeLists.txt
Owners: none

Removing unused file position information left over from binary files
  prep/prep.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/write_output.F
  src/writer.F
Owners: none

Removing binary output option
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/read_input.F
  src/sizes.F
  src/write_output.F
Owners: @caseydietrich

Adding error in adcprep for NOUT*=2
  prep/read_global.F
Owners: none

Applying 3D code fixes from Casey
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/boundaries.F
  src/cstart.F
  src/global_3dvs.F
  src/mesh.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/wetdry.F
  src/write_output.F
  work/makefile
Owners: none

Using integer comparison for various 3d options
  src/global_3dvs.F
  src/read_input.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
Owners: none

Removing commented out code with updated implementation from Casey
  src/transport.F
  src/vsmy.F
Owners: none

Using pre-computed array for csr matrix position
  src/gwce.F
  src/mesh.F
  src/read_input.F
Owners: none

Add missing io error message to nws8Control namelist read
  src/read_input.F
Owners: none

Updating NWS8 and adding upgrades from Wang et. al. (2022)
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/read_input.F
  src/wind.F
Owners: none

Commit working inline SAL computed at every time step
  src/inline_sal.F90
Owners: none

Refactoring nws08 into its own module
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/global.F
  src/nws08.F90
  src/read_input.F
  src/wind.F
Owners: none

Refactoring nws08 into its own module
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/nws08.F90
  src/read_input.F
  src/wind.F
  work/makefile
Owners: none

Updating to run CI for new tests
  .circleci/config.yml
Owners: none

Updating nws08 module to compile with strict compiler checks
  src/nws08.F90
Owners: none

Adding doxygen documentation to nws08 module
  src/nws08.F90
Owners: none

Removing behavior where stormnumber controlled the wind multiplier
  prep/prep.F
  prep/presizes.F
  src/nws08.F90
  src/read_input.F
Owners: none

Generalizing the terminate routine
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  src/adcirc.F
  src/couple2baroclinic3D.F
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/hstart.F
  src/internaltide.F
  src/mesh.F
  src/nodalattr.F
  src/owi_ice.F
  src/owiwind.F
  src/read_input.F
  src/rs2.F
  src/sponge_layer.F
  src/subdomain.F
  src/subgridLookup.F
  src/terminate.F90
  src/timestep.F
  src/weir_boundary.F
  src/wind.F
  src/write_output.F
  src/xdmfio.F
  work/makefile
Owners: @cblakely97, @wpringle, @caseydietrich, @dwirasae, @jlwoodr

Using standardized termination procedure instead of call exit(1)
  src/boundaries.F
  src/control.F
  src/ephemerides.F90
  src/global_3dvs.F
  src/globalio.F
  src/hstart.F
  src/mesh.F
  src/messenger.F
  src/netcdf_error.F90
  src/netcdfio.F
  src/rs2.F
  src/sponge_layer.F
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/wind.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
Owners: @dwirasae

Adding developer mode which builds code with additional flags
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/developer.cmake
  cmake/libadcirc.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  src/ephemerides.F90
  src/nodalattr.F
  src/tidalpotential.F90
  src/xdmfio.F
  util/adcircResultsComparison.F90
Owners: none

Removing container build on pull request
  .github/workflows/container_pr.yaml
Owners: none

Using pre-computed array for csr matrix position
  src/gwce.F
  src/mesh.F
  src/read_input.F
Owners: none

Removing container build on pull request
  .github/workflows/container_pr.yaml
Owners: none

Updating nws08 module to compile with strict compiler checks
  src/nws08.F90
Owners: none

Adding doxygen documentation to nws08 module
  src/nws08.F90
Owners: none

Refactoring nws08 into its own module
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/global.F
  src/nws08.F90
  src/read_input.F
  src/wind.F
  work/makefile
Owners: none

Updating NWS8 and adding upgrades from Wang et. al. (2022)
  prep/prep.F
  prep/presizes.F
  prep/read_global.F
  src/read_input.F
  src/wind.F
Owners: none

Updating to run CI for new tests
  .circleci/config.yml
Owners: none

Removing behavior where stormnumber controlled the wind multiplier
  prep/prep.F
  prep/presizes.F
  src/nws08.F90
  src/read_input.F
Owners: none

Updating version of CI container
  .circleci/config.yml
Owners: none

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
