Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

Cleaning up for legacy intel
  CMakeLists.txt
  src/logging.F90
Owners: none

Removing mpi use lists for legacy module
  cmake/developer.cmake
  fortitude.toml
  src/gl2loc_mapping.F90
  src/messenger.F90
Owners: none

Using the modern MPI interface (mpi_f08)
  src/adcirc.F
  src/gl2loc_mapping.F90
  src/global.F
  src/globalio.F
  src/messenger.F90
  src/sizes.F
  src/wind.F
  src/writer.F
  thirdparty/swan/SwanMaxOverNodes.ftn90
  thirdparty/swan/SwanMinOverNodes.ftn90
  thirdparty/swan/SwanPunCollect.ftn90
  thirdparty/swan/SwanSumOverNodes.ftn90
Owners: @caseydietrich

Removing mpi use lists for legacy module
  cmake/developer.cmake
  fortitude.toml
  src/gl2loc_mapping.F90
  src/messenger.F90
Owners: none

bump version v56.2.0 -> v56.2.1
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

Using the modern MPI interface (mpi_f08)
  src/adcirc.F
  src/gl2loc_mapping.F90
  src/global.F
  src/globalio.F
  src/messenger.F90
  src/sizes.F
  src/wind.F
  src/writer.F
  thirdparty/swan/SwanMaxOverNodes.ftn90
  thirdparty/swan/SwanMinOverNodes.ftn90
  thirdparty/swan/SwanPunCollect.ftn90
  thirdparty/swan/SwanSumOverNodes.ftn90
Owners: @caseydietrich

Fixing issue where certain compiler/mpi combinations hang within SWAN
  thirdparty/swan/SwanPunCollect.ftn90
Owners: @caseydietrich

Fixing issue where certain compiler/mpi combinations hang within SWAN
  thirdparty/swan/SwanPunCollect.ftn90
Owners: @caseydietrich

bump version v56.2.0 -> v56.2.1
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

bump version v56.2.0 -> v56.2.1
  CMakeLists.txt
  README.md
  bumpver.toml
Owners: none

Removing legacy fortran subroutines and syntax
  cmake/adcprep.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  prep/adcpost.F
  prep/adcprep.F
  prep/decomp.F
  prep/machdep.F
  prep/prep.F
  prep/subprep.F
  src/adcirc.F
  src/boundaries.F
  src/couple2baroclinic3D.F
  src/global.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/mesh.F
  src/nodalattr.F
  src/owi_ice.F
  src/read_input.F
  src/sizes.F
  src/transport.F
  src/vsmy.F
  src/wind.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
  util/adccmp.F
  util/adcirc2xdmf.f90
  util/adcircResultsComparison.F90
  util/hot2asc.F
  util/hstime.F
  util/inflate.F
  util/radedit.F
  util/xdmf2adcirc.f90
  wind/aswip.F
  work/makefile
Owners: @cblakely97, @wpringle

Adding a help info screen to the command line for executables
  prep/adcprep.F
  src/adcirc.F
  wind/aswip.F
Owners: none

Fixing minor bug in sponge layer spherical coordinates
  src/gwce.F
Owners: none

Modernizing and cleaning up cmake build system
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/helper_functions.cmake
  cmake/interface_libraries.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/mkdir.cmake
  cmake/mpi_check.cmake
  cmake/netcdf_check.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
  cmake/version.cmake
  cmake/xdmf_check.cmake
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/hstart.F
  src/itpackv.F
  src/momentum.F
  src/read_input.F
  src/sponge_layer.F90
  src/timestep.F
  thirdparty/wgrib2/CMakeLists.txt
  work/cmplrflags.mk
Owners: none

Cleaning up unused MPI error return codes
  src/gl2loc_mapping.F90
  src/globalio.F
  src/messenger.F90
  src/writer.F
Owners: none

Using persistent mpi communications for update* functions
  src/messenger.F90
Owners: none

Using RAII based logger to set/unset the message sources
  cmake/interface_libraries.cmake
  prep/adcprep.F
  prep/read_global.F
  prep/subprep.F
  src/adcirc.F
  src/couple2baroclinic3D.F
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/global_3dvs.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/hstart.F
  src/internaltide.F90
  src/io.F90
  src/logging.F90
  src/logging_macros.h
  src/mesh.F
  src/messenger.F90
  src/momentum.F
  src/netcdf_error.F90
  src/netcdfio.F90
  src/nodalattr.F
  src/nws08.F90
  src/owiwind.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/subdomain.F
  src/tidalpotential.F90
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/weir_boundary.F90
  src/wind.F
  src/write_output.F
  src/writer.F
  wind/aswip.F
  work/makefile
Owners: @cblakely97, @wpringle, @caseydietrich, @acrosby

Setting timestep as its own module
  src/adcirc.F
  src/gwce.F
  src/timestep.F
Owners: none

Refactoring timestep into subroutines
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/momentum2d.F
  src/momentum3d.F90
  src/nodalattr.F
  src/owiwind.F
  src/read_input.F
  src/subdomain.F
  src/timestep.F
  src/wind.F
  src/write_output.F
Owners: none

Converting timestep.F -> timestep.F90
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/adcirc.F
  src/sponge_layer.F90
  src/timestep.F
  src/timestep.F90
  work/makefile
Owners: none

merging new14nc_fix into main
  src/wind.F
Owners: none

merging nsw14nc_fix into main
  src/wind.F
Owners: none

Renaming subgrid logical variables for clarity
  src/cstart.F
  src/gwce.F
  src/momentum2d.F
  src/nodalattr.F
  src/read_input.F
  src/subgridLookup.F
  src/timestep.F90
  src/wetdry.F
Owners: @jlwoodr

Using RAII based logger to set/unset the message sources
  cmake/interface_libraries.cmake
  prep/adcprep.F
  prep/read_global.F
  prep/subprep.F
  src/adcirc.F
  src/couple2baroclinic3D.F
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/global_3dvs.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/hstart.F
  src/internaltide.F90
  src/io.F90
  src/logging.F90
  src/logging_macros.h
  src/mesh.F
  src/messenger.F90
  src/momentum.F
  src/netcdf_error.F90
  src/netcdfio.F90
  src/nodalattr.F
  src/nws08.F90
  src/owiwind.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/subdomain.F
  src/tidalpotential.F90
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/weir_boundary.F90
  src/wind.F
  src/write_output.F
  src/writer.F
  wind/aswip.F
  work/makefile
Owners: @cblakely97, @wpringle, @caseydietrich, @acrosby

Adding LTO option to cmake
  cmake/InterproceduralOptimization.cmake
  cmake/developer.cmake
  cmake/metis.cmake
  cmake/options_select.cmake
Owners: none

Fixing Intel variable initializations
  cmake/options_select.cmake
  prep/presizes.F
  src/gwce.F
  src/messenger.F90
  src/owiwind_netcdf.F
  src/read_input.F
  src/timestep.F
Owners: @caseydietrich, @acrosby

Adding a help info screen to the command line for executables
  prep/adcprep.F
  src/adcirc.F
  wind/aswip.F
Owners: none

Fixing minor bug in sponge layer spherical coordinates
  src/gwce.F
Owners: none

Removing legacy fortran subroutines and syntax
  cmake/adcprep.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  prep/adcpost.F
  prep/adcprep.F
  prep/decomp.F
  prep/machdep.F
  prep/prep.F
  prep/subprep.F
  src/adcirc.F
  src/boundaries.F
  src/couple2baroclinic3D.F
  src/global.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/mesh.F
  src/nodalattr.F
  src/owi_ice.F
  src/read_input.F
  src/sizes.F
  src/transport.F
  src/vsmy.F
  src/wind.F
  src/write_output.F
  src/writer.F
  src/xdmfio.F
  util/adccmp.F
  util/adcirc2xdmf.f90
  util/adcircResultsComparison.F90
  util/hot2asc.F
  util/hstime.F
  util/inflate.F
  util/radedit.F
  util/xdmf2adcirc.f90
  wind/aswip.F
  work/makefile
Owners: @cblakely97, @wpringle

Using RAII based logger to set/unset the message sources
  cmake/interface_libraries.cmake
  prep/adcprep.F
  prep/read_global.F
  prep/subprep.F
  src/adcirc.F
  src/couple2baroclinic3D.F
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/global_3dvs.F
  src/globalio.F
  src/gwce.F
  src/harm.F
  src/hstart.F
  src/internaltide.F90
  src/io.F90
  src/logging.F90
  src/logging_macros.h
  src/mesh.F
  src/messenger.F90
  src/momentum.F
  src/netcdf_error.F90
  src/netcdfio.F90
  src/nodalattr.F
  src/nws08.F90
  src/owiwind.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/subdomain.F
  src/tidalpotential.F90
  src/timestep.F
  src/transport.F
  src/vsmy.F
  src/weir_boundary.F90
  src/wind.F
  src/write_output.F
  src/writer.F
  wind/aswip.F
  work/makefile
Owners: @cblakely97, @wpringle, @caseydietrich, @acrosby

Cleaning up unused MPI error return codes
  src/gl2loc_mapping.F90
  src/globalio.F
  src/messenger.F90
  src/writer.F
Owners: none

Adding LTO option to cmake
  cmake/InterproceduralOptimization.cmake
  cmake/developer.cmake
  cmake/metis.cmake
  cmake/options_select.cmake
Owners: none

Fixing Intel variable initializations
  cmake/options_select.cmake
  prep/presizes.F
  src/gwce.F
  src/messenger.F90
  src/owiwind_netcdf.F
  src/read_input.F
  src/timestep.F
Owners: @caseydietrich, @acrosby

Modernizing and cleaning up cmake build system
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/helper_functions.cmake
  cmake/interface_libraries.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/metis.cmake
  cmake/mkdir.cmake
  cmake/mpi_check.cmake
  cmake/netcdf_check.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
  cmake/version.cmake
  cmake/xdmf_check.cmake
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/hstart.F
  src/itpackv.F
  src/momentum.F
  src/read_input.F
  src/sponge_layer.F90
  src/timestep.F
  thirdparty/wgrib2/CMakeLists.txt
  work/cmplrflags.mk
Owners: none

Renaming subgrid logical variables for clarity
  src/cstart.F
  src/gwce.F
  src/momentum2d.F
  src/nodalattr.F
  src/read_input.F
  src/subgridLookup.F
  src/timestep.F90
  src/wetdry.F
Owners: @jlwoodr

Refactoring timestep into subroutines
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/adcirc.F
  src/global.F
  src/gwce.F
  src/momentum2d.F
  src/momentum3d.F90
  src/nodalattr.F
  src/owiwind.F
  src/read_input.F
  src/subdomain.F
  src/timestep.F
  src/wind.F
  src/write_output.F
Owners: none

Setting timestep as its own module
  src/adcirc.F
  src/gwce.F
  src/timestep.F
Owners: none

Converting timestep.F -> timestep.F90
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/adcirc.F
  src/sponge_layer.F90
  src/timestep.F
  src/timestep.F90
  work/makefile
Owners: none

Adding Pi term as additional wave driven force
  cmake/adcswan.cmake
  cmake/padcswan.cmake
  src/couple2swan.F
  src/w3fld1md.F90
  src/w3fld2md.F90
  thirdparty/swan/swanmain.ftn
Owners: @caseydietrich

Subject: update documentation within rain module Details: removed unnecessary comments and updated all header documentation in the module
  src/rain.F90
Owners: none

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
