Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Converting netcdfio.F to netcdfio.F90 and fixing issues
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/prep.F
  src/netcdfio.F
  src/netcdfio.F90
  src/write_output.F
  src/writer.F
  work/makefile
Owners: none

Using a two prescribed date formats in the fort.15 to prevent ambiguity
  CMakeLists.txt
  src/read_input.F
  src/tidalpotential.F90
Owners: none

Fixing variable aliasing. Conversion of owiwind_netcdf.F -> nws13.F90
  BUILD.md
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  prep/presizes.F
  src/nws13.F90
  src/owiwind_netcdf.F
  src/read_input.F
  src/wind.F
Owners: @caseydietrich, @acrosby

Factoring out repeated operations
  prep/prep.F
  prep/presizes.F
  src/nws13.F90
  thirdparty/fdate/src/datetime.F90
  work/makefile
Owners: none

Using fdate within nws=13 for date calculations
  prep/prep.F
  prep/presizes.F
  src/nws13.F90
  src/read_input.F
  thirdparty/fdate/src/datetime.F90
  work/makefile
Owners: none

Moving wind modules into their own folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind_modules/nws08.F90
  src/wind_modules/nws13.F90
  work/makefile
Owners: none

Fixing hard coded parameters
  src/wind_modules/nws13.F90
Owners: none

Using a single variable to track storm position
  src/wind_modules/nws13.F90
Owners: none

Fixing issue with NWS13 time reference
  src/wind_modules/nws13.F90
Owners: none

Refactoring NWS13GET subroutine
  src/wind_modules/nws13.F90
Owners: none

Implementing caching to avoid reading data each time
  src/wind_modules/nws13.F90
Owners: none

Calculating interpolation weights for moving grids each time
  src/wind_modules/nws13.F90
Owners: none

Fixing fort.22.nc reference date format
  src/wind_modules/nws13.F90
Owners: none

Refactoring into objects to clean up code
  src/wind_modules/nws13.F90
Owners: none

Cleaning up and refactoring
  src/wind_modules/nws13.F90
Owners: none

Shifting interpolation weights into nws13 module
  src/wind.F
  src/wind_modules/nws13.F90
Owners: none

Simplifying logic in nws13.F90
  cmake/options_select.cmake
  src/wind_modules/nws13.F90
Owners: none

Adding spatial acceleration structure instead of kdtree
  src/wind_modules/nws13.F90
Owners: none

Refactoring so that each nws13 group is a class with methods
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
  work/makefile
Owners: none

Allowing the user to turn on/off different groups in nws=13
  prep/prep.F
  prep/presizes.F
  src/read_input.F
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
Owners: none

Fixing interpolation
  src/wind_modules/nws13.F90
Owners: none

Initial intermediate lagrangian snap implementation
  src/wind.F
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
Owners: none

Adding check for null values
  src/wind.F
  src/wind_modules/nws13data.F90
Owners: none

Updating inline documentation
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
Owners: none

Converting free functions to class methods for nws13
  src/wind.F
  src/wind_modules/nws13.F90
  src/wind_modules/nws13data.F90
Owners: none

Giving SWAN access to initial nws=13 wind data
  src/couple2swan.F
  src/wind.F
  src/wind_modules/nws13.F90
Owners: @caseydietrich

Moving grid spatial search structures to their own module
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/wind_modules/grid_search.F90
  src/wind_modules/nws13data.F90
Owners: none

Adding function to compute bilinear weights
  src/wind_modules/grid_search.F90
  src/wind_modules/nws13data.F90
Owners: none

Fixing z0 initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing wind initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing velocity initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Implementing topology-based neighbor table ordering
  src/mesh.F
Owners: none

Implementing topology-based neighbor table ordering
  src/mesh.F
  src/vew1d.F
Owners: @shinbunya

Fixing velocity initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing wind initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing z0 initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing wind initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing velocity initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fixing z0 initialization issue in SWAN hotstart
  src/couple2swan.F
Owners: @caseydietrich

Fix out-of-bounds memory access caused by zeros in NeiTabEle
  src/mesh.F
  src/vew1d.F
Owners: @shinbunya
