Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1

Moving tide files into a folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/internaltide.F90
  src/tide/moon.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
  work/makefile
Owners: @wpringle

Cleaning up unused variables, moving boundaries.F -> boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  prep/read_global.F
  src/adcirc.F
  src/boundaries.F
  src/boundaries/boundaries.F90
  src/logging.F90
  src/terminate.F90
  work/makefile
Owners: none

Factoring out bc forcing from timestep
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/hstart.F
  src/read_input.F
  src/timestep.F
  work/makefile
Owners: none

Updating flags
  CMakeLists.txt
  cmake/kdtree2.cmake
  thirdparty/wgrib2/CMakeLists.txt
  work/makefile
Owners: none

Running fprettify on *.F90 files
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/moon.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
Owners: none

Adding automated Docker container build
  .github/workflows/build_container.yaml
  .github/workflows/container_nightly.yaml
  .github/workflows/container_release.yaml
  README.md
  containers/Dockerfile
Owners: none

Updating image references to point to adcircorg/adcirc-ci
  .circleci/config.yml
  containers/Dockerfile
Owners: none

Adding automated Docker container build
  .github/workflows/build_container.yaml
  .github/workflows/container_nightly.yaml
  .github/workflows/container_release.yaml
  README.md
  containers/Dockerfile
Owners: none

Updating image references to point to adcircorg/adcirc-ci
  .circleci/config.yml
  containers/Dockerfile
Owners: none

Fixing behavior for warning elevation debug file when activated through namelist
  src/timestep.F
Owners: none

Updating message in log file (fort.16) for warning elevation file
  src/read_input.F
Owners: none

Updating cmake options to remove WARN_ELEV_DEBUG
  CMakeLists.txt
  cmake/options_flags.cmake
  cmake/options_select.cmake
Owners: none

Cleaning up so all F90 files compile with strict warning flags
  cmake/macros.cmake
  cmake/version.cmake
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
  src/logging.F90
  src/netcdf_error.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
  src/wind.F
Owners: none

Fix a minor bug related to netcdf opening
  src/wind.F
Owners: none

fix error in allreduce of an array storing the spherical harmonic coefficients (Snm--private data)
  src/inline_sal.F90
  src/timestep.F
Owners: none

Fix NETCDF file opening in INSET_NC_INPUT
  src/wind.F
Owners: none

Namespacing ADCIRC cmake options and adding strict compile option
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/architecture.cmake
  cmake/aswip.cmake
  cmake/kdtree2.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/netcdf_check.cmake
  cmake/options_flags.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/swan.cmake
  cmake/utilities.cmake
  cmake/version.cmake
  cmake/xdmf_check.cmake
  src/boundaries/boundaries.F90
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
  src/constants.F90
  src/netcdf_error.F90
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/internaltide.F90
  src/tide/moon.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
Owners: none

adjust value of the water level on land in the inline SAL calucation
  src/inline_sal.F90
Owners: none

Building in CI environments using cmake toolchain files
  .circleci/config.yml
  cmake/InterproceduralOptimization.cmake
  cmake/toolchains/tc-linux-x86-circleci-gcc.cmake
  cmake/toolchains/tc-linux-x86-circleci-intel.cmake
  cmake/toolchains/tc-osx-arm-homebrew.cmake
  src/tide/ephemerides.F90
  thirdparty/wgrib2/CMakeLists.txt
  thirdparty/wgrib2/jasper/src/libjasper/CMakeLists.txt
Owners: none

Fix NETCDF file opening in INSET_NC_INPUT
  src/wind.F
Owners: none

Fix a minor bug related to netcdf opening
  src/wind.F
Owners: none

Adding ARM container builds
  .github/workflows/build_container.yaml
  .github/workflows/container_nightly.yaml
  .github/workflows/container_pr.yaml
  .github/workflows/container_release.yaml
  containers/Dockerfile
Owners: none

Starting to make code pass with conversion flags
  prep/interp.F
  src/boundaries.F
  src/constants.F
  src/couple2baroclinic3D.F
  src/gl2loc_mapping.F
  src/global.F
  src/global_3dvs.F
  src/globalio.F
  src/harm.F
  src/hstart.F
  src/internaltide.F
  src/itpackv.F
  src/mesh.F
  src/nodalattr.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/wind.F
  thirdparty/KDTREE2/kdtree2.F
Owners: @cblakely97, @wpringle, @caseydietrich, @acrosby

Adding strict compiler flags option for *.F90 files
  .circleci/config.yml
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/utilities.cmake
  cmake/warning_flags.cmake
  src/astronomic.F90
  src/ephemerides.F90
  src/moon.F90
  src/netcdf_error.F90
  src/sun.F90
  src/sun_moon_system.F90
  src/tidalpotential.F90
Owners: none

Adding ARM container builds
  .github/workflows/build_container.yaml
  .github/workflows/container_nightly.yaml
  .github/workflows/container_pr.yaml
  .github/workflows/container_release.yaml
  containers/Dockerfile
Owners: none

Fixing all implicit type conversions in adcirc/padcirc
  src/adcirc.F
  src/control.F
  src/couple2baroclinic3D.F
  src/cstart.F
  src/gl2loc_mapping.F
  src/gwce.F
  src/harm.F
  src/hstart.F
  src/momentum.F
  src/netcdfio.F
  src/nodalattr.F
  src/owi_ice.F
  src/owiwind.F
  src/owiwind_netcdf.F
  src/read_input.F
  src/rs2.F
  src/sponge_layer.F
  src/subdomain.F
  src/timestep.F
  src/transport.F
  src/vew1d.F
  src/vsmy.F
  src/weir_boundary.F
  src/wetdry.F
  src/wind.F
  src/write_output.F
  src/writer.F
  wind/vortex.F
Owners: @cblakely97, @wpringle, @caseydietrich, @acrosby, @dwirasae, @shinbunya

Removing functions that could be replaced with fortran standard functions
  prep/read_global.F
  src/global.F
  src/read_input.F
Owners: none

Adding build of main branch containers on change
  .github/workflows/container_latest.yaml
  .github/workflows/container_nightly.yaml
Owners: none

Updating README.md
  README.md
Owners: none

Adding build of main branch containers on change
  .github/workflows/container_latest.yaml
  .github/workflows/container_nightly.yaml
Owners: none

Updating README.md
  README.md
Owners: none

use an area of a spherical triangle in the integration for the spherical harmonic
  src/inline_sal.F90
Owners: none

Making Inset Code Block Faster
  src/wind.F
Owners: none

Making Inset Code Block Faster
  src/wind.F
Owners: none

Added option to remove dphidt from computations
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/cstart.F
  src/gwce.F
  src/read_input.F
  src/subgridLookup.F
Owners: @jlwoodr

Added option to remove dphidt from computations
  prep/pre_global.F
  prep/prep.F
  prep/read_global.F
  src/cstart.F
  src/gwce.F
  src/read_input.F
  src/subgridLookup.F
Owners: @jlwoodr

Updating tide potential calculations to explicitly use double precision
  src/astronomic.F90
  src/ephemerides.F90
  src/moon.F90
  src/netcdf_error.F90
  src/sun.F90
  src/sun_moon_system.F90
  src/tidalpotential.F90
Owners: none

Updating tide potential calculations to explicitly use double precision
  src/astronomic.F90
  src/ephemerides.F90
  src/moon.F90
  src/netcdf_error.F90
  src/sun.F90
  src/sun_moon_system.F90
  src/tidalpotential.F90
Owners: none

Cleaning up CMakeLists.txt file
  .circleci/config.yml
  CMakeLists.txt
Owners: none

Removing binary output option
  src/couple2swan.F
  src/cstart.F
  src/global.F
  src/globalio.F
  src/hstart.F
  src/netcdfio.F
  src/read_input.F
  src/sizes.F
  src/write_output.F
Owners: @caseydietrich
