Repository adcirc/adcirc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jlwoodr, @caseydietrich, @shinbunya, @cblakely97, @wpringle, @dwirasae, @acrosby, @pvelissariou1

working version of Steven's direct spherical harmonics
  src/inline_sal.F90
Owners: none

Clean up implentation of Steven's SPHT version
  src/inline_sal.F90
Owners: none

Fixing segfault that occurs when SWAN runs on a mesh with 1D channels
  thirdparty/swan/SwanFindPoint.ftn90
  thirdparty/swan/SwanReadADCGrid.ftn90
Owners: @caseydietrich

Fixing an issue in adcprep not decomposing fort.20 flow boundary file properly if it contains lines with 80 characters or more
  prep/prep.F
Owners: none

Improving ibtype 64 VEW boundary for smoother drying
  src/boundaries.F
  src/timestep.F
  src/weir_boundary.F
  src/wetdry.F
Owners: none

Adding --no-sign-request to s3 download
  .circleci/config.yml
Owners: none

Fixing segfault that occurs when SWAN runs on a mesh with 1D channels
  thirdparty/swan/SwanFindPoint.ftn90
  thirdparty/swan/SwanReadADCGrid.ftn90
Owners: @caseydietrich

Improving ibtype 64 VEW boundary for smoother drying
  src/boundaries.F
  src/timestep.F
  src/weir_boundary.F
  src/wetdry.F
Owners: none

Adding --no-sign-request to s3 download
  .circleci/config.yml
Owners: none

Fixing an issue in adcprep not decomposing fort.20 flow boundary file properly if it contains lines with 80 characters or more
  prep/prep.F
Owners: none

Adding sponge layer to boundary forcing file
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Updating legacy build for new source file
  work/makefile
Owners: none

Fixing type 52
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Fixing temporary arrays
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Starting to refactor boundary forcing section
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundary_forcing.F90
  src/gwce.F
Owners: none

Separating the testable portion of the boundary forcing
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/gwce.F
  src/gwce_bc_forcing.F90
  src/gwce_bc_forcing_impl.F90
  work/makefile
Owners: none

Cleaning up normal flow boundaries
  src/boundary_forcing.F90
Owners: none

Updating predictor/corrector gwce to use boundary forcing module
  src/gwce.F
Owners: none

Moving weir_boundaries.F --> weir_boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  src/boundaries/weir_boundary.F90
  src/gwce.F
  src/read_input.F
  src/timestep.F
  src/weir_boundary.F
  work/makefile
Owners: none

Updating flags
  CMakeLists.txt
  cmake/kdtree2.cmake
  thirdparty/wgrib2/CMakeLists.txt
  work/makefile
Owners: none

Updating formatting
  src/boundaries/gwce_bc_forcing.F90
Owners: none

Setting position independent code flag
  CMakeLists.txt
Owners: none

Moving tide files into a folder
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/internaltide.F
  src/tide/astronomic.F90
  src/tide/ephemerides.F90
  src/tide/internaltide.F90
  src/tide/moon.F90
  src/tide/sun.F90
  src/tide/sun_moon_system.F90
  src/tide/tidalpotential.F90
  work/makefile
Owners: @wpringle

Setting in/out params for gwce_new and gwce_new_pc
  src/gwce.F
Owners: none

Combining impl file
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/gwce_bc_forcing_impl.F90
  work/cmplrflags.mk
  work/makefile
Owners: none

Updating makefile for legacy build
  work/makefile
Owners: none

Explicitly setting ierr in ephemerides.F90
  src/ephemerides.F90
Owners: none

Fixing additional exe specific flags in cmake
  .circleci/config.yml
  .commit-template
  CMakeLists.txt
  CONTRIBUTING.md
  cmake/InterproceduralOptimization.cmake
  cmake/StandardProjectSettings.cmake
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/kdtree2.cmake
  cmake/libadcirc.cmake
  cmake/macros.cmake
  cmake/options_select.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  cmake/utilities.cmake
  src/constants.F
  src/constants.F90
  src/ephemerides.F90
  src/logging.F90
  src/owiwind_netcdf.F
  src/subdomain.F
  src/timestep.F
  work/makefile
Owners: @caseydietrich, @acrosby

Marking RELWITHDEB and MINSIZEREL flags as non-advanced
  cmake/kdtree2.cmake
  cmake/options_select.cmake
Owners: none

Factoring out bc forcing from timestep
  CMakeLists.txt
  cmake/adcirc.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/cstart.F
  src/hstart.F
  src/read_input.F
  src/timestep.F
  work/makefile
Owners: none

Cleaning up unused variables
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_flow.F90
Owners: none

Cleaning up unused variables, moving boundaries.F -> boundaries.F90
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/aswip.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  cmake/punswan.cmake
  prep/read_global.F
  src/adcirc.F
  src/boundaries.F
  src/boundaries/boundaries.F90
  src/logging.F90
  src/terminate.F90
  work/makefile
Owners: none

Factoring out momentum boundaries
  cmake/adcirc.cmake
  cmake/adcprep.cmake
  cmake/adcswan.cmake
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/global.F
  src/gwce.F
  src/momentum.F
  src/timestep.F
  work/makefile
Owners: none

Cleaning up array allocations and unused variables
  cmake/libadcirc.cmake
  cmake/padcirc.cmake
  cmake/padcswan.cmake
  src/boundaries/boundaries.F90
  src/boundaries/gwce_bc_forcing.F90
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/time_varying_weir.F90
  src/boundaries/timestep_bc_forcing.F90
  src/boundaries/weir_data.F90
  src/boundaries/weir_flow.F90
  src/gwce.F
  src/timestep.F
Owners: none

Factoring out bcs from predictor-corrector
  src/boundaries/momentum_bc_forcing.F90
  src/momentum.F
Owners: none

Updating subgrid variable (level) name
  src/gwce.F
  src/momentum.F
  src/nodalattr.F
  src/wetdry.F
Owners: none

Fixing VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Cleaning up VEW1D
  src/boundaries/momentum_bc_forcing.F90
Owners: none

Collapsing formulations for C/NC
  src/boundaries/momentum_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

Refactoring timestep boundaries
  src/boundaries/momentum_bc_forcing.F90
  src/boundaries/timestep_bc_forcing.F90
  src/gwce.F
  src/momentum.F
Owners: none

.github/CODEOWNERS:

#####################
# Global code owners
#####################
@zcobell

##############################
# ADCIRC Feature Code Owners
##############################

# Subgrid
src/subgridLookup.F @jlwoodr

# SWAN Coupling
src/couple2swan.F @caseydietrich

# Vertical Element Walls
src/vew1d.F @shinbunya

# 2D/3D Coupling
src/couple2baroclinic3D.F @cblakely97 @wpringle
src/gl2loc_mapping.F @cblakely97

# Sponge Layers
src/sponge_layer.F @dwirasae
src/quadrature.F @dwirasae

# Internal Tides
src/internaltide.F @wpringle

# NetCDF OWI Winds
src/owiwind_netcdf.F @caseydietrich @acrosby

#########################
# Third party Code Owners
#########################

# SWAN code owners
thirdparty/swan/ @caseydietrich

# NUOPC code owners
thirdparty/nuopc/ @pvelissariou1
